<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ticketmovie" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicketMovie" >
        <activity
            android:name=".movieapp.activities.LuuVeActivity"
            android:exported="false" />
        <activity
            android:name=".movieapp.activities.RoomActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".movieapp.activities.MovieDetailActivity"
            android:exported="true" >
        </activity> <!-- <activity -->
        <!-- android:name=".movieapp.activities.ListMovieActivity" -->
        <!-- android:exported="true" > -->
        <!-- </activity> -->
        <activity
            android:name=".movieapp.activities.TrailerMovieActivity"
            android:exported="true"
            />
        <activity
            android:name=".movieapp.activities.SignInActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".movieapp.activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".movieapp.fragments.Homefragments"
            android:exported="true" />
        <activity
            android:name=".movieapp.activities.HomeActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".movieapp.activities.ChangeActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".movieapp.activities.DatVeActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".movieapp.MainActivity"
            android:exported="true" />
    </application>

</manifest>